:root{
  --main_color: #008080;
  --p_color: #7b7b7b;
  --bg_color: #F3F3F3;
  --white_color: #fff;
  --color_heading: #253237;
  --border_color: #d6d6d6d5;
}
.loginPage{
        background-color: #006868;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;

}
.login{
    background: var(--main_color);
    width: 50%;
    margin: auto;
    height: 400px;
    border-radius: 35px;
    padding: 30px;
    box-shadow: 0 0 15px var(--p_color);
}
.login h1{
    color: var(--white_color);
    text-align: center;
    margin-bottom: 5px;;
}
.login hr{
    background: linear-gradient(var(--main_color), white);
}
.login .inputs{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.login .inputs label, .login .inputs input{
    margin: 5px 0;
}
.login .inputs label{
    color: var(--white_color);
    font-weight: bold;
    margin: 15px 5px 5px;
}
.login .inputs input{
    padding: 15px;
    border-radius: 25px;
}
.login p{
    color: var(--border_color) ;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
.login span{
    color: rgb(18, 0, 151);
    font-size: 16px;
    text-decoration: underline;
}
.login button{
    padding: 12px;
    font-size: 20px;
    border-radius: 25px;
    width: 100%;
    margin: 20px 0;
    font-weight: bold;
    transition: 0.5s;
    color: var(--main_color);
}
.login button:hover{
    box-shadow: 0 0 7px var(--bg_color);
}